.DS_Store
__pycache__
.pytest_cache
.ipynb_checkpoints
.vscode


flask-backend/env/
flask-backend/__pycache__

react-frontend/node_modules
react-frontend/coverage
react-frontend/build
react-frontend/.env.local
react-frontend/.env.development.local
react-frontend/.env.test.local
react-frontend/.env.production.local
react-frontend/npm-debug.log*
react-frontend/yarn-debug.log*
react-frontend/yarn-error.log*